<div class="container">
  <div id="edit_info" style="width: 328px;">
    <h2 style="text-align:center;">Edit <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs" style="text-align:center;">
        <% if @user.avatar.url != "" %>
        <%= image_tag @user.avatar.url(:thumb) %>
        <% end %>
        <%= f.input :avatar, required: false, input_html: {class:"form-control"} %>
        <%= f.input :name, required: true, autofocus: true, input_html: {class: "form-control"} %>
        <%= f.input :email, required: true, autofocus: true, input_html: {class: "form-control"} %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, input_html: {class: "form-control"} %>
        <%= f.input :password_confirmation, required: false, input_html: {class: "form-control"} %>
        <%= f.input :about, label: "About Me",  autofocus: true, input_html: {class: "form-control"} %>
        <%= f.input :website,  autofocus: true, input_html: {class: "form-control"} %>
        <%= f.input :twitter, autofocus: true, input_html: {class: "form-control"} %>
        <%= f.input :facebook, autofocus: true, input_html: {class: "form-control"} %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: {class: "form-control"} %>
      </div>
      <br>
      <div class="form-actions" style="text-align:center;">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>
    <br>
    <br>
    <hr>
    <h3 style="text-align:center;">Unhappy?</h3>
    <br>
    <div style="text-align:center;">
      <p class="btn" ><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default" %></p>
      <br>
      <p class="btn" ><%= link_to "Back", :back, class: "btn btn-default" %></p>
    </div>
  </div>  
</div>