<div class="container">
<div class="row" id="edit_recipe_info">
  <div class="panel searchpanel">
  <div class="recipe">
  <h1 class="searchlabel">Recipes</h1>
  <br>
  </div>
  </div>


  <div class="row transitions-enabled recipepanel" id="recipesmasonryindex">
        <% @recipes.each do |recipe| %>
          <div class="box panel panel-default">
            <div class="recipe" style="max-height: 360px; min-height: 360px;">
              <div class="image_wrapper">
                <%= link_to recipe do %>
                  <%= image_tag recipe.image.url(:medium), class: "thumb" %>
                <% end %>
              </div>
              <div style="text-align:center;">
                <h2><%= link_to truncate(recipe.title, length: 30), recipe %></h2>
                <span class="cbspan">Category: <%= recipe.category.name %></span>
                <br>  
                <p><i class="fa fa-comments"></i> <%= pluralize(recipe.reviews.length, 'Review' ) %></p>
                <div class="star-rating indexstars" data-score= <%= recipe.reviews.average(:rating) %> ></div>
                <% if user_signed_in? %>  
                  <% if current_user.voted_up_on? recipe %>
                      <p><i class="fa fa-heart"></i> <%= pluralize(recipe.get_upvotes.size, 'Like' ) %></p>
                      <span class="cbspan"><%= link_to "Unlike", dislike_recipe_path(recipe),  method: :get %></span>
                      <br>
                  <% else %>
                    <p><i class="fa fa-heart"></i> <%= pluralize(recipe.get_upvotes.size, 'Like' ) %></p>
                    <span class="cbspan"><%= link_to "Like", like_recipe_path(recipe),  method: :get %></span>
                    <br>
                  <% end %>
                <% else %>
                  <p><i class="fa fa-heart-o"></i> <%= pluralize(recipe.get_upvotes.size, 'Like' ) %></p>  
                <% end %>
                <span class="cbspan">Created by <%= link_to recipe.user.name, user_path(recipe.user) %> <%= time_ago_in_words(recipe.created_at) %> ago.</span>
              </div>
            </div>
          </div>
        <% end %>
      </div>


  <div class="panel searchpanel">
  <div class="recipe">
  <h1 class="searchlabel">Open Recipea Users</h1>
  <br>
  </div>
  </div>
  <div class="row transitions-enabled recipepanel" id="recipesmasonry">
       <% @users.each do |user| %>
          <div class="box panel panel-default">
            <div class="recipe" style="min-height: 300px;">
              <div class="image_wrapper">
                <%= link_to user do %>
                <% if user.avatar.exists? %>
                  <%= image_tag user.avatar.url(:thumb), class: "thumb" %>
                <% else %>
                  <div style="text-align:center;">
                    <h2><%= link_to "No picture has been been uploaded.", user %></h2>
                  </div>
                <% end %>
                <% end %>
              </div>
              <div style="text-align:center;">
                <h2><%= link_to user.name, user %></h2>
                <p><%= link_to "#{"Follower".pluralize(user.get_upvotes.size)} #{user.get_upvotes.size}", follower_path(user.id), class: "btn btn-default"  %> <%= link_to "#{"Following".pluralize((user.get_up_voted User).length).singularize} #{(user.get_up_voted User).length}", following_path(user.id), class: "btn btn-default"  %></p>
                <% if user_signed_in? %>
                  <% if current_user.voted_up_on? user %>
                    <%= link_to "Unfollow", dislike_user_path(user), method: :get, class: "btn btn-default" %>
                  <% else %>
                    <%= link_to "Follow", like_user_path(user), method: :get, class: "btn btn-default" %>
                  <% end %>
                <% end%>

                <%if user_signed_in? %>
                  <% if user.voted_up_on? current_user %>
                    <div style="text-align:center; margin-top: 5px;">
                      <span class="cbspan">Follows You.</span>
                    </div>
                  <% end %>
                <% end %>

              </div>
            </div>
          </div>
        <% end %>
      </div>
    <br>
</div>
</div>
  <script>
    $('.star-rating').raty({
      path: 'http://mystache.s3.amazonaws.com/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>